/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space between logo and nav */
    background-color: #464747ad; /* Navbar background color */
    color: white;
    padding: 15px 20px; /* Adjust padding for better spacing */
}

.logo-container img {
    height: 50px; /* Set logo height */
}

h1 {
    margin: 0; /* Remove default margin from h1 */
    font-size: 24px; /* Set font size for title */
}

nav ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

nav ul li {
    display: inline; /* Display list items inline */
    margin-left: 20px; /* Space between nav items */
}

nav ul li a {
    color: white; /* Link color */
    text-decoration: none; /* Remove underline from links */
    font-weight: bold; /* Make links bold */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

nav ul li a:hover {
    color: #ffcc00; /* Change link color on hover */
}

/* Main Content */
main {
    padding: 20px;
}

/* Products Section */
#products {
    margin-bottom: 40px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Add spacing between product items */
}

.product-item {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    flex-basis: calc(33.333% - 20px); /* Three columns layout with 20px gap */
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

h2 {
    color: #007bff;
}

p {
    margin-bottom: 10px;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #007bff; /* Same as header */
    color: white;
}

/* Category Section Styles */
.category-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.category-item h3 {
    margin-top: 0;
    color: #007bff;
}

.category-item p {
    margin: 10px 0;
}

.category-item .btn {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.category-item .btn:hover {
    background-color: #0056b3;
}
